*{

}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 10vh auto;
}
.title{
    text-align: center;
}
.form{
    padding-left: 35%;
}

.progressBar{
    width: 100%;
}
.preview{
    max-width: 43vh;
    max-height: 70vh;
    padding: 0 63vh;
    margin: 1% 0;
}